<!-- begin: Subheader -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container&#45;&#45;fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
        客户信息
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a href="javascript:;" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
          合作高校
        </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
          高校管理
        </a>
      </div>
    </div>
  </div>
</div>
<!-- end: Subheader -->

<!-- begin: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" ng-app="pageApp"
     ng-controller="pageCtrl">
  <div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand fa fa-graduation-cap"></i>
			</span>
        <h3 class="kt-portlet__head-title">
          合作高校信息
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="kt-portlet__head-actions">
            <button type="button" class="btn btn-brand btn-elevate btn-icon-sm" data-toggle="modal"
                    ng-click="onShowAddModal()">
              <i class="la la-plus"></i>
              添加
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">
      <!--begin: search form -->
      <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
        <div class="row align-items-center">
          <div class="col-xl-8 order-2 order-xl-1">
            <div class="row align-items-center">
              <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                <div class="kt-form__group kt-form__group--inline width-full">
                  <div class="dropdown search-form-dropdown">
                    <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                      <span ng-bind="model.selectedProvince.regionName"></span>
                      <i class="flaticon2-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                      <a class="dropdown-item" href="javascript:;" ng-click="onProvinceChange(0, '所有省份')">所有省份</a>
                      <div class="dropdown-divider"></div>
                      <a ng-repeat="data in model.provinceList"
                         class="dropdown-item"
                         href="javascript:;"
                         ng-click="onProvinceChange(data.regionCode, data.regionName)"
                         ng-bind="data.regionName"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                <div class="kt-form__group kt-form__group--inline width-full">
                  <div class="dropdown search-form-dropdown">
                    <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                      <span ng-bind="model.selectedCity.regionName"></span>
                      <i class="flaticon2-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                      <a class="dropdown-item" href="javascript:;" ng-click="onCityChange(0, '所有城市')">所有城市</a>
                      <div class="dropdown-divider"></div>
                      <a ng-repeat="data in model.cityList"
                         class="dropdown-item"
                         href="javascript:;"
                         ng-click="onCityChange(data.regionCode, data.regionName)"
                         ng-bind="data.regionName"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end: search form -->

      <!--begin: Datatable -->
      <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline"
                   id="kt_table_1" role="grid" aria-describedby="kt_table_1_info" style="width: 1313px;">
              <thead>
              <tr role="row">
                <th>Brand</th>
                <th>高校编码</th>
                <th>高校名称</th>
                <th>省</th>
                <th>市</th>
                <th>区</th>
                <th>详细地址</th>
                <th>当前状态</th>
                <th>操作</th>
              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="data in model.dataList">
                <td style="width: 120px">
                  <img ng-src="\{{data.brand}}" class="img-table-cell" alt="">
                </td>
                <td ng-bind="data.universityCode"></td>
                <td ng-bind="data.universityName"></td>
                <td ng-bind="data.provinceName"></td>
                <td ng-bind="data.cityName"></td>
                <td ng-bind="data.districtName"></td>
                <td ng-bind="data.address"></td>
                <td>
                  <span class="kt-badge kt-badge--inline kt-badge--pill"
                        ng-class="{'kt-badge--primary': data.dataStatus == 'P', 'kt-badge--success': data.dataStatus == 'A', 'kt-badge--danger': data.dataStatus == 'D'}"
                        ng-bind="data.dataStatusText">
                  </span>
                </td>
                <td>
                    <span class="dropdown">
                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown"
                           aria-expanded="true">
                          <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;" ng-click="onShowBrandModal(data)"><i class="la la-photo"></i> Brand</a>
                            <a class="dropdown-item" href="javascript:;" ng-click="onShowChangeModal(data)"><i class="la la-edit"></i> 编辑</a>
                            <a class="dropdown-item" href="javascript:;" ng-click="onShowStatusModal(data)" ng-if="data.brand != ''"><i class="la la-leaf"></i> 状态修改</a>
                            <a class="dropdown-item" href="javascript:;" ng-click="onDelete(data)"><i class="la la-remove"></i> 删除</a>
                        </div>
                    </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="kt_table_1_info" role="status" aria-live="polite">
              显示第 <span ng-bind="model.fromIndex"></span> 到第 <span ng-bind="model.toIndex"></span>条数据，共计<span
                    ng-bind="model.totalCount"></span>条数据
            </div>
          </div>
          <div class="col-sm-12 col-md-7 dataTables_pager">
            <div class="dataTables_paginate paging_simple_numbers" id="kt_table_1_paginate">
              <ul class="pagination">

                <li class="paginate_button page-item previous" ng-class="{'disabled': model.prePageNum == -1}"
                    id="kt_table_1_previous" ng-click="onPrePage()">
                  <a href="javascript:;" aria-controls="kt_table_1" data-dt-idx="0" tabindex="0" class="page-link">
                    <i class="la la-angle-left"></i>
                  </a>
                </li>

                <li ng-repeat="pageNumber in model.paginationArray" class="paginate_button page-item"
                    ng-class="{'active': model.pageNumber == pageNumber}" ng-click="onPagination(pageNumber)">
                  <a href="javascript:;" aria-controls="kt_table_1" data-dt-idx="1" tabindex="0" class="page-link"
                     ng-bind="pageNumber"></a>
                </li>

                <li class="paginate_button page-item next" ng-class="{'disabled': model.nextPageNum == -1}"
                    id="kt_table_1_next" ng-click="onNextPage()">
                  <a href="javascript:;" aria-controls="kt_table_1" data-dt-idx="5" tabindex="0" class="page-link">
                    <i class="la la-angle-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--end: Datatable -->

      <!--begin: brand modal -->
      <div class="modal fade" id="kt_modal_brand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form class="kt-form kt-form--label-right" name="brandForm" novalidate>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Brand & Memo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <div class="kt-portlet__body">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Brand</label>
                    <div class="col-10">
                      <div id="file-upload-brand" class="fileUploadContent"></div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">客户寄语</label>
                    <div class="col-10">
                      <textarea class="form-control" name="memo" rows="8" maxlength="256" ng-model="model.memo" required></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="onChangeBrand()"
                        ng-disabled="model.brandUrl == '' || brandForm.memo.$pristine || (brandForm.memo.$dirty && brandForm.memo.$invalid)">
                  提交
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end: brand modal -->

      <!--begin: edit modal -->
      <div class="modal fade" id="kt_modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form class="kt-form kt-form--label-right" name="myForm" novalidate>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" ng-bind="model.modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <div class="kt-portlet__body">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">高校编码</label>
                    <div class="col-10">
                      <input type="text"
                             class="form-control"
                             name="universityCode"
                             maxlength="6"
                             ng-class="{'is-invalid': model.universityCodeIsInValid == 1, 'is-valid': model.universityCodeIsInValid == 0}"
                             ng-model="model.universityCode"
                             ng-blur="onUniversityCodeBlur()"
                             ng-disabled="!model.add"
                             required>
                      <div class="invalid-feedback" ng-if="model.universityCodeIsInValid == 1">您输入的高校编码已存在</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">高校名称</label>
                    <div class="col-10">
                      <input type="text"
                             class="form-control"
                             name="universityName"
                             maxlength="50"
                             ng-class="{'is-invalid': model.universityNameIsInValid == 1, 'is-valid': model.universityNameIsInValid == 0}"
                             ng-model="model.universityName"
                             ng-blur="onUniversityNameBlur()"
                             ng-disabled="!model.add"
                             required>
                      <div class="invalid-feedback" ng-if="model.universityNameIsInValid == 1">您输入的高校名称已存在</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">省份</label>
                    <div class="col-10">
                      <div class="dropdown search-form-dropdown">
                        <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                          <span ng-bind="model.selectedProvince4Edit.regionName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:;" ng-click="onProvinceChange4Edit(0, '请选择省份')">请选择省份</a>
                          <div class="dropdown-divider"></div>
                          <a ng-repeat="data in model.provinceList4Edit"
                             class="dropdown-item"
                             href="javascript:;"
                             ng-click="onProvinceChange4Edit(data.regionCode, data.regionName)"
                             ng-bind="data.regionName"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">城市</label>
                    <div class="col-10">
                      <div class="dropdown search-form-dropdown">
                        <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                          <span ng-bind="model.selectedCity4Edit.regionName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:;"
                             ng-click="onCityChange4Edit(0, '请选择城市')">请选择城市</a>
                          <div class="dropdown-divider"></div>
                          <a ng-repeat="data in model.cityList4Edit"
                             class="dropdown-item"
                             href="javascript:;"
                             ng-click="onCityChange4Edit(data.regionCode, data.regionName)"
                             ng-bind="data.regionName"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">区县</label>
                    <div class="col-10">
                      <div class="dropdown search-form-dropdown">
                        <button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                          <span ng-bind="model.selectedDistrict4Edit.regionName"></span>
                          <i class="flaticon2-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                          <a class="dropdown-item" href="javascript:;" ng-click="onDistrictChange4Edit(0, '请选择区县')">请选择区县</a>
                          <div class="dropdown-divider"></div>
                          <a ng-repeat="data in model.districtList"
                             class="dropdown-item"
                             href="javascript:;"
                             ng-click="onDistrictChange4Edit(data.regionCode, data.regionName)"
                             ng-bind="data.regionName"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">地址</label>
                    <div class="col-10">
                      <input class="form-control" name="address" type="text" maxlength="100" ng-model="model.address"
                             required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="onSubmit()" ng-disabled="(myForm.universityCode.$pristine && model.add)
                                                                          || (myForm.universityCode.$dirty && myForm.universityCode.$invalid)
                                                                          || model.universityCodeIsInValid !== 0
                                                                          || (myForm.universityName.$pristine && model.add)
                                                                          || (myForm.universityName.$dirty && myForm.universityName.$invalid)
                                                                          || model.universityNameIsInValid !== 0
                                                                          || (myForm.address.$pristine && model.add)
                                                                          || model.selectedProvince4Edit.regionName == '请选择省份'
                                                                          || model.selectedCity4Edit.regionName == '请选择城市'
                                                                          || model.selectedDistrict4Edit.regionName == '请选择区县'
                                                                          || (myForm.address.$dirty && myForm.address.$invalid)">
                  提交
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end: edit modal -->

      <!--begin: status modal -->
      <div class="modal fade" id="kt_modal_status" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form class="kt-form kt-form--label-right" name="form-status" novalidate>
              <div class="modal-header">
                <h5 class="modal-title" ng-bind="model.statusModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="form-group row form-group-marginless">
                    <label class="col-1 col-form-label"> </label>
                    <div class="col-10">
                      <div class="row">
                        <div class="col-6">
                          <label class="kt-option kt-option--plain">
                            <span class="kt-option__control">
                              <span class="kt-radio kt-radio--brand">
                                <input type="radio" name="status" value="A" ng-model="model.status" ng-checked="model.status == 'A'">
                                <span></span>
                              </span>
                            </span>
                            <span class="kt-option__label">
                              <span class="kt-option__head">
                                <span class="kt-option__title">
                                  正常
                                </span>
                              </span>
                              <span class="kt-option__body">
                                高校可正常登陆并使用产品相关功能
                              </span>
                            </span>
                          </label>
                        </div>
                        <div class="col-6">
                          <label class="kt-option kt-option--plain">
                            <span class="kt-option__control">
                              <span class="kt-radio kt-radio--brand">
                                <input type="radio" name="status" value="D" ng-model="model.status" ng-checked="model.status == 'D'">
                                <span></span>
                              </span>
                            </span>
                            <span class="kt-option__label">
                              <span class="kt-option__head">
                                <span class="kt-option__title">
                                  冻结
                                </span>
                              </span>
                              <span class="kt-option__body">
                                高校师生无法登陆产品并禁用所有功能
                              </span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="onChangeStatus()">
                  修改
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--end: status modal -->
    </div>
  </div>
</div>

<script src="../js/views/university.js" type="text/javascript"></script>
