body{
  font-family: 'Hiragino Sans GB','\5b8b\4f53',sans-serif
}

/* begin： 查询表单的下拉列表*/
.width-full{
  width: 100%;
}
.search-form-dropdown button{
  width: 100%;
}

.search-form-dropdown button span{
  float: left
}

.search-form-dropdown button i{
  float: right;
  color: #8b8d9a;
  font-size: 12px !important;
  margin-right: -10px;
  margin-top: 4px;
}
.search-form-dropdown .dropdown-menu{
  width: 100%;
  max-height: 360px;
  overflow-y: auto;
  position: absolute;
  will-change: transform;
  top: 0;
  left: 0;
  transform: translate3d(0px, 38px, 0px);
}
/* end： 查询表单的下拉列表*/

.font-color-success{
  color: #0abb87 !important;
}

.img-table-cell{
  width: 100%;
  cursor: pointer;
}
.customer-brand{
  width: 120px;
  text-align: center;
}
.cell-option{
  color: #5d78ff;
}
.customer-memo {
  width: 80px;
  text-align: center;
}

/*begin: 上传文件组件样式*/
.fileItem{
  display: block !important;
}
/*end: 上传文件组件样式*/

.form-group .fa-star{
  margin-top: 7px;
  font-size: 1.5rem;
  cursor: pointer;
}
.technology-stars-select{
  color: #f1b86f;
}

.technology-memo {
  width: 500px;
}
.technology-memo p {
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.center{
  text-align: center;
}

